@model List<Health_Insuarance_Management_System_webapp.Models.InsuranceCompanyModel>
@{
    ViewData["Title"] = "ListCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListCompany</h1>

<div class="container">
    
    <div class="row">
        @{
            foreach (var item in Model)
            {
                <div class="card mx-4 mt-2" style="width: 18rem;">
                    <img src="~/@item.PhotoPath" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">@item.InsuranceCompanyName</h5>
                        <p class="card-text">@item.ExtraInformation</p>
                        <a asp-action="EditCompany" asp-route-id="@item.CompanyId" asp-controller="InsuranceCompany" class="btn btn-primary">Edit</a>
                        <a asp-action="CompanyDetail" asp-controller="InsuranceCompany" class="btn btn-primary">Details</a>
                    </div>
                </div>
            }

        }
    </div>

</div>

