@using Health_Insuarance_Management_System_webapp.Enums;
@model Health_Insuarance_Management_System_webapp.ViewModels.CreatePolicyViewModel

@{
    ViewData["Title"] = "Add a new Insurance Policy";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}




<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border p-3 mt-4 row">
      @*  <input asp-for="Id" hidden />*@
 
        <div class="col-5">
            <label asp-for="PolicyTitle"></label>
            <input asp-for="PolicyTitle" class="form-control" />
            <span asp-validation-for="PolicyTitle" class="text-danger"></span>
        </div>


        <div class="mb-3 col-7">
            <label asp-for="PolicyDescription"></label>
            <textarea asp-for="PolicyDescription" class="form-control" rows="7"> </textarea>
            <span asp-validation-for="PolicyDescription" class="text-danger"></span>
        </div>

       
        <div class="mb-3 col-6 ">
            <label asp-for="Photo"></label>
            <input id="inpBox" asp-for="Photo" name="file" class="form-control" />
        </div>


        <div class="mb-3 col-6">
            <label asp-for="Payment"></label>
            <input asp-for="Payment" class="form-control" />
            <span asp-validation-for="Payment" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Budget"></label>
            <input asp-for="Budget" class="form-control" placeholder="E.g 1000" />
            <span asp-validation-for="Budget" class="text-danger"></span>
        </div>

        
        <div class="mb-3 col-6">
            <label asp-for="PolicyDuration" class="control-label"></label>
            <select asp-for="PolicyDuration" asp-items="Html.GetEnumSelectList<PolicyDurationEnum>()" class="form-control"></select>
            <span asp-validation-for="PolicyDuration" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="PolicyPaymentType" class="control-label"></label>
            <select asp-for="PolicyPaymentType" asp-items="Html.GetEnumSelectList<PolicyPaymentEnum>()" class="form-control"></select>
            <span asp-validation-for="PolicyPaymentType" class="text-danger"></span>
        </div>


        <div class="mb-3 col-6">
            <label asp-for="CompanyId" class="control-label"></label>
            <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
        </div>
      



        <input type="submit" value="Create" class="btn btn-primary" />

       
    </div>
</form>
