@model Health_Insuarance_Management_System_webapp.Models.PolicyModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PolicyModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PolicyId" />
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyTitle" class="control-label"></label>
                <input asp-for="PolicyTitle" class="form-control" />
                <span asp-validation-for="PolicyTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyDescription" class="control-label"></label>
                <input asp-for="PolicyDescription" class="form-control" />
                <span asp-validation-for="PolicyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyDuration" class="control-label"></label>
                <select asp-for="PolicyDuration" class="form-control"></select>
                <span asp-validation-for="PolicyDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyPaymentType" class="control-label"></label>
                <select asp-for="PolicyPaymentType" class="form-control"></select>
                <span asp-validation-for="PolicyPaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment" class="control-label"></label>
                <input asp-for="Payment" class="form-control" />
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

