@using Health_Insuarance_Management_System_webapp.Enums;
@model Health_Insuarance_Management_System_webapp.Models.PolicyRequestModel
@{
    ViewData["Title"] = "Edit Policy Request";
    Layout = "~/Views/Shared/_Layout3.cshtml";
    var photopath = (Model.PhotoPath ?? "images/Policies/policyAlternative.jpg");
}




<form asp-action="EditPolicyRequest" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border p-3 mt-4 row">
        <input asp-for="Id" hidden />
        <input asp-for="PhotoPath" hidden />

        <div class="col-5">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" disabled class="form-control p-2" />
            <input asp-for="UserName" hidden class="form-control" />
           
        </div>

        <div class="col-5">
            <label asp-for="FnameLname"></label>
            <input asp-for="FnameLname" disabled class="form-control p-2" />
            <input asp-for="FnameLname" hidden class="form-control" />

        </div>
        <div class="col-12">
            <img src="~/@photopath" alt="Policy image unavailable" asp-append-version="true" class="w-25 mt-2" />
        </div>
        <div class="mb-3 col-6">
            <label asp-for="PolicyId" class="control-label"></label>
            <select asp-for="PolicyId" asp-items="ViewBag.PolicyId" disabled class="form-control p-2"></select>
            <select asp-for="PolicyId" asp-items="ViewBag.PolicyId" hidden class="form-control"></select>
           
        </div>
        <div class="mb-3 col-6">
            <label asp-for="CompId" class="control-label"></label>
            <select asp-for="CompId" asp-items="ViewBag.CompanyId" disabled class="form-control p-2"></select>
            <select asp-for="CompId" asp-items="ViewBag.CompanyId" hidden class="form-control"></select>

        </div>

        <div class="mb-3 col-7">
            <label asp-for="Reason"></label>
            <textarea asp-for="Reason" disabled class="form-control" rows="5"> </textarea>
            <textarea asp-for="Reason" hidden class="form-control" rows="5"> </textarea>
          
        </div>

        <div class="col-5">
            <label asp-for="Date"></label>
            <input asp-for="Date" disabled class="form-control p-4" />
            <input asp-for="Date" hidden class="form-control" />

        </div>




        <div class="mb-3 col-6">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<StatusEnum>()" class="form-control"></select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
      




        <input type="submit" value="Update" class="btn btn-primary" />
        <a asp-action="RequestList" asp-controller="Policy" class="mt-2 btn btn-secondary">Cancel</a>


    </div>
</form>
