/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*======================
    404 page
=======================*/


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

    .page_404 img {
        width: 100%;
    }

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


    .four_zero_four_bg h1 {
        font-size: 80px;
    }

    .four_zero_four_bg h3 {
        font-size: 80px;
    }

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}


/*==SCSS coded by rajeshdas.com==*/
/*font import from google fonts*/
/*@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Nunito:200,300,400,600,700,800,900&display=swap");*/
/*font import from google fonts*/
/*body {
    font-family: "Nunito", sans-serif;
    transition: all 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

.page-wrap {
    padding: 30px 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

    .page-wrap .page-not-found {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

        .page-wrap .page-not-found .img-key {
            margin-bottom: 0px;
        }

        .page-wrap .page-not-found h1.text-xl {
            color: #000;
            text-transform: uppercase;
            line-height: 50px;
            font-size: 160px;
            font-weight: 800;
            letter-spacing: -28px;
            text-shadow: -6px 4px 0px #fff;
            margin-left: -20px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

            .page-wrap .page-not-found h1.text-xl span {
                transition: all 1s ease;
                display: inline-block;
                animation: pulse 5s infinite;
            }

        .page-wrap .page-not-found h4.text-md,
        .page-wrap .page-not-found h4.text-sm {
            letter-spacing: 0.38px;
            font-weight: 300;
            line-height: 20px;
            font-size: 14px;
            text-transform: none;
            color: rgba(0, 0, 0, 0.5);
            margin-bottom: 0px;
            width: 100%;
        }

            .page-wrap .page-not-found h4.text-md a,
            .page-wrap .page-not-found h4.text-sm a {
                color: #1177bd;
                text-decoration: underline;
                font-weight: 700;
            }

                .page-wrap .page-not-found h4.text-md a:hover, .page-wrap .page-not-found h4.text-md a:focus,
                .page-wrap .page-not-found h4.text-sm a:hover,
                .page-wrap .page-not-found h4.text-sm a:focus {
                    text-decoration: none;
                }

        .page-wrap .page-not-found h4.text-md {
            font-size: 50px;
            font-weigth: 700;
            color: #1177bd;
            text-transform: none;
        }

        .page-wrap .page-not-found h4.text-sm-btm {
            top: auto;
            bottom: 40px;
        }

@keyframes pulse {
    from {
        color: #000;
    }

    to {
        color: #f03030;
    }
}

@media (max-width: 768px) {
    .page-wrap .page-not-found h1.text-xl {
        font-size: 120px;
        letter-spacing: -20px;
        margin-bottom: 30px;
    }

    .page-wrap .page-not-found h4.text-sm {
        top: 10px;
    }

    .page-wrap .page-not-found h4.text-sm-btm {
        bottom: -60px;
    }

    .page-wrap .page-not-found h4.text-md {
        font-size: 30px;
    }
}*/