@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "All Roles";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}



@{
    if (Model.Any())
    {
        <a asp-action="CreateRole" asp-controller="Administration" class="btn btn-primary">Create Role</a>


        <table class="table table-bordered mt-4">
            <tr>
                <th>Role Id</th>

                <th>Role Names</th>
                <th>Manage users</th>
               

            </tr>


            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>

                        <td>@item.Name</td>
                        <td><a asp-action="EditRole" asp-route-id="@item.Id" class="btn btn-success">Manage users in this role</a></td>

                    </tr>
                }
            }
        </table>

    }
    else
    {
        <h2>Sorry No roles available you can create new role by Clicking the button.</h2>
        <a asp-action="CreateRole" asp-controller="Administration" class="btn btn-primary">Create Role</a>
    }
}